{% extends base %}
{% block contents %}
<div style="width:1200px; margin:0 auto;">
    <h1>EU/EEA COVID-19 Vaccination Dashboard</h1>
    <div>
        {{ embed(roots.app_content) }}
    </div>

    <br />
    The copyright policy of COVID-19 Dashboard is compatible with <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>.
    <br /> Data provided by <a rel="ECDC" href="https://www.ecdc.europa.eu/en">ECDC</a>.
    <br />
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
    <img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
</div>
{% endblock %}
